<div class="container-fluid"><div class="row"><div class="col-md-12 hero-paper"><div class="hero-paper-welcome-msg"><span class="hidden-xs">CV</span><span class="visible-xs">CV</span></div></div><!--col-md-12--></div><!--row--><div class="row"><div class="col-md-12 intro-paper"><div class="container"><h1>Here's my CV.</h1><!-- <p>
				Google Drive <a href="https://drive.google.com/folderview?id=0B2CX8zXCqhScM09lc0psaEVDVWM">Link</a>
			</p>

			<p>
				<a href="https://drive.google.com/folderview?id=0B2CX8zXCqhScM09lc0psaEVDVWM">
					<img ng-src="images/demo/cv.png" alt="Wong Lok's CV">
				</a>
			</p> --></div><!--container--></div><!--col-md-12--></div><!--row--></div>